{% extends "base.html" %}
{% load bootstrap %}

{% block title %}Ajouter une citation{% endblock %}
{% block content %}
  <form class="form-horizontal" method="POST" action="" role="form">
    <div class="col-md-7">
       {% csrf_token %}
       {{ form|bootstrap_horizontal }}
       <div class="form-group">
         <div class="col-md-2 col-md-offset-2">
           <input class="btn btn-defaultbtn-lg" type="submit" value="Soumettre" />
         </div>
       </div>
    </div>
  </form>
{% endblock %}
