{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Ajouter une citation{% endblock %}
{% block content %}
  <div class="row">
    <form method="POST" action="" role="form">
      <div class="col-md-7">
         {% csrf_token %}
         {{ form|crispy }}
         <div class="mb-3">
           <div class="col-md-2 offset-md-2">
             <input class="btn btn-primary btn-lg" type="submit" value="Soumettre" />
           </div>
         </div>
      </div>
    </form>
  </div>
{% endblock %}
