<footer class="mt-12 py-8 bg-gray-100 border-t border-gray-200">
<div class="container mx-auto px-4 text-center text-gray-600 text-sm">
    <p>Créé par
<a href="https://www.linkedin.com/pub/antoine-pietri/57/955/378" class="text-blue-500 hover:underline">Antoine</a>
et <a href="https://fr.linkedin.com/pub/paul-hervot/49/667/8a5/fr" class="text-blue-500 hover:underline">Paul</a></p>
<p><a href="https://github.com/seirl/epiquote" class="text-blue-500 hover:underline">Code</a> sous licence
<a href="https://fr.wikipedia.org/wiki/Beerware" target="_blank" class="text-blue-500 hover:underline">Beerware</a></p>
</div>
</footer>
