{% load comments vote %}

<table class="table-striped" style="width: 100%">
  {% for quote in quotes %}
    <tr>
      <td style="{% if not quote.visible %}background-color:
          #F2DEDE{% endif %}">
        <blockquote>
          <p><small style="font-size: 0.9em;">
            <strong>{{ quote.author }}</strong>
            {% if quote.context %}(<em>{{ quote.context }}</em>){% endif %}
          </small></p>
          {{ quote.content|linebreaks }}
        </blockquote>
        <p style="margin-left: 20px;">
        <small>
          <a href="{% url 'show_quote' quote.id %}">#{{ quote.id }}</a> −

          Score :
          <span id="s{{ quote.id }}">
            {{ quote.score }}</span>
          (<span id="t{{ quote.id }}">{{ quote.num_votes }}
          </span>
          vote{{ quote.num_votes|pluralize }})
          {% if user.is_authenticated %}
            {% vote_for user quote as vote %} −
              <a href="#" id="dp{{ quote.id }}"
                 class="{% if vote == 1 %}voteon{% endif %}"
                 onclick="vote('{{ quote.id }}', 'up');">(+)</a>
              <a href="#" id="dm{{ quote.id }}"
                 class="{% if vote == -1 %}voteon{% endif %}"
                 onclick="vote('{{ quote.id }}', 'down');">(-)</a>
          {% endif %}

          <span style="margin-right: 20px;" class="pull-right">
            <a href="javascript:void(0);" onclick="rimshot();">♫</a> −
            {% if user.is_authenticated %}
              {% if request.user in quote.fans.all %}
                <a onclick="fav('{{ quote.id }}');" id="f{{ quote.id }}"
                  href="javascript:void(0)">&lt;/3</a>
              {% else %}
                <a onclick="fav('{{ quote.id }}');" id="f{{ quote.id }}"
                    href="javascript:void(0)">&lt;3</a>
              {% endif %} −
            {% endif %}
            {% get_comment_count for quote as comment_count %}
            <a href="{% url 'show_quote' quote.id %}#c">{{ comment_count }}
                commentaire{{ comment_count|pluralize }}</a>
          </span>
        </small>
        </p>
      </td>
    </tr>
  {% endfor %}
</table>
