{% load navigation %}

<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
  <div class="container">
    <a class="navbar-brand" href="/">Epiquote</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav gap-2 me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          {% active '^/random' as is_active %}
          <a class="nav-link {% if is_active %}active rounded bg-opacity-10 bg-secondary{% endif %}" href="{% url 'random_quotes' %}">Au hasard</a>
        </li>
        <li class="nav-item">
          {% active '^/last' as is_active %}
          <a class="nav-link {% if is_active %}active rounded bg-opacity-10 bg-secondary{% endif %}" href="{% url 'last_quotes' %}">Dernières</a>
        </li>
        <li class="nav-item">
          {% active '^/top' as is_active %}
          <a class="nav-link {% if is_active %}active rounded bg-opacity-10 bg-secondary{% endif %}" href="{% url 'top_quotes' %}">Meilleures</a>
        </li>
        <li class="nav-item">
          {% active '^/add' as is_active %}
          <a class="nav-link {% if is_active %}active rounded bg-opacity-10 bg-secondary{% endif %}" href="{% url 'add_quote' %}">Ajouter</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ request.user.username }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="userDropdown">
            <li><a class="dropdown-item" href="{% url 'favorite_quotes' request.user.username %}">
                Favoris</a></li>
            <li><a class="dropdown-item" href="{% url 'password_change' %}">
                Changer de mot de passe</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Déconnexion</a></li>
          </ul>
        </li>
        {% else %}
        <li class="nav-item">
          {% active '^/accounts/login' as is_active %}
          <a class="nav-link {% if is_active %}active rounded bg-opacity-10 bg-secondary{% endif %}" href="{% url 'login' %}">Connexion</a>
        </li>
        <li class="nav-item">
          {% active '^/accounts/register' as is_active %}
          <a class="nav-link {% if is_active %}active rounded bg-opacity-10 bg-secondary{% endif %}" href="{% url 'register' %}">Inscription</a>
        </li>
        {% endif %}
        <li>
          <button class="btn nav-link ms-2" onclick="toggleTheme(); return false;" title="Basculer le thème">
            &#9728;
          </button>
        </li>
      </ul>
      {% include "search.html" %}
    </div>
  </div>
</nav>
