{% if is_paginated %}
  <div class="col-sm-3 col-sm-offset-9">
    <form class="form-inline" method="GET" action="{{ request.path }}">
      <div class="input-group">
        <a class="btn btn-info input-group-addon
                 {% if not page_obj.has_previous %}disabled{% endif %}"
          {% if page_obj.has_previous %}
            href="{{ request.path }}?page={{ page_obj.previous_page_number }}"
          {% endif %}
        >←</a>

        <input type="text" class="form-control" name="page" value="{{ page_obj.number }}" />
        <span class="input-group-addon">sur {{ page_obj.paginator.num_pages }}</span>

        <a class="btn btn-info input-group-addon
                 {% if not page_obj.has_next %}disabled{% endif %}"
          {% if page_obj.has_next %}
            href="{{ request.path }}?page={{ page_obj.next_page_number }}"
          {% endif %}
        >→</a>
      </div>
    </form>
  </div>
{% endif %}
