{% if is_paginated %}
  <div class="flex justify-end mt-4">
    <form method="GET" action="{{ request.path }}" class="flex items-center">
      <div class="flex rounded shadow-sm">
        <a class="px-3 py-2 bg-gray-100 border border-gray-300 rounded-l hover:bg-gray-200 {% if not page_obj.has_previous %}opacity-50 cursor-not-allowed pointer-events-none{% endif %}"
          {% if page_obj.has_previous %}
            href="{{ request.path }}?page={{ page_obj.previous_page_number }}"
          {% endif %}
        >←</a>

        <input type="text" class="w-12 text-center border-t border-b border-gray-300 focus:outline-none" name="page" value="{{ page_obj.number }}" />
        <span class="px-3 py-2 bg-gray-50 border border-gray-300 text-gray-500 text-sm flex items-center">sur {{ page_obj.paginator.num_pages }}</span>

        <a class="px-3 py-2 bg-gray-100 border border-gray-300 rounded-r hover:bg-gray-200 {% if not page_obj.has_next %}opacity-50 cursor-not-allowed pointer-events-none{% endif %}"
          {% if page_obj.has_next %}
            href="{{ request.path }}?page={{ page_obj.next_page_number }}"
          {% endif %}
        >→</a>
      </div>
    </form>
  </div>
{% endif %}
