{% extends "base.html" %}
{% load i18n %}
{% load url from future %}
{% load bootstrap %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}

<p>Mot de passe perdu ? Saisissez votre adresse électronique ci-dessous sous le
format "login_x@epita.fr" et nous vous enverrons les instructions pour en créer
un nouveau.</p>

<form action="" method="post" class="form-horizontal">{% csrf_token %}
    {{ form|bootstrap }}
    <div class="control-group">
        <div class="controls">
            <input type="submit" value="{% trans 'Reset my password' %}" class="btn"/>
        </div>
    </div>
</form>

{% endblock %}
