{% extends "base.html" %}
{% load i18n %}
{% load comments %}

{% block title %}Commenter{% endblock %}

{% block content %}
  <form action="{% comment_form_target %}" class="form-horizontal"
        method="POST">
    {% csrf_token %}
    <div class="control-group {% if form.errors %}error{% endif %} required">
      <label class="control-label" for="id_comment">Commentaire</label>
      <div class="controls">
        <textarea id="id_comment" rows="6" cols="40" style="width:60%"
          name="comment"></textarea>
        {% if form.errors %}
          <span class="help-inline">Ce champ est obligatoire.</span>
        {% endif %}
      </div>
    </div>
    <div style="display: none">{{ form.honeypot }}</div>
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.security_hash }}
    {% if next %}
      <div><input type="hidden" name="next" value="{{ next }}" /></div>
    {% endif %}
    <blockquote>{{ comment|linebreaks }}</blockquote>
    <div class="controls">
      <input type="submit" class="btn" value="Ajouter un commentaire" />
    </div>
  </form>
{% endblock %}
