<form method="GET" action="{{ pages_url }}">
  {% if not page.has_previous %}
  <button class="btn btn-info disabled">←</button>
  {% else %}
  <a class="btn btn-info"
    href="{{ pages_url }}/{{ page.previous_page_number }}">←</a>
  {% endif %}
  <input type="text" class="span1" name="p" value="{{ page.number }}" />
  <span class="add-on">sur {{ page.paginator.num_pages }}</span>
  {% if not page.has_next %}
  <button class="btn btn-info disabled">→</button>
  {% else %}
  <a class="btn btn-info"
    href="{{ pages_url }}/{{ page.next_page_number }}">→</a>
  {% endif %}
</form>
