{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Connexion{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-4 offset-md-1">
    <h3>Avec un compte Epiquote</h3>
    <form method="POST" action="">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      {{ form|crispy }}
      <div class="mb-3">
        <div class="col-md-2 offset-md-3">
          <input type="submit" class="btn btn-primary" value="Se connecter" />
        </div>
      </div>
      <div class="mb-3">
        <div class="col-md-6 offset-md-3">
          <a href="{% url 'password_reset' %}">Mot de passe oublié ?</a>
        </div>
      </div>
    </form>
  </div>
  {% if ENABLE_EPITA_CONNECT %}
    <div class="col-md-5 offset-md-1">
      <h3>Avec un compte CRI</h3>
        <a href="{% url 'social:begin' 'epita' %}"
          class="btn btn-lg btn-success">
          Se connecter avec son compte CRI</a>
    </div>
  {% endif %}
</div>
{% endblock %}
