{% extends "base.html" %}
{% load bootstrap %}

{% block title %}Connexion{% endblock %}
{% block content %}
<form method="POST" action="" class="form-horizontal">
  <div class="col-md-10">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    {{ form|bootstrap_horizontal }}
    <div class="form-group">
      <div class="col-md-2 col-md-offset-2">
        <input type="submit" class="btn" value="Se connecter" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-3 col-md-offset-2">
        <a href="{% url 'password_reset' %}">Mot de passe oublié ?</a>
      </div>
    </div>
  </div>
</form>
{% endblock %}
