{% extends "base.html" %}
{% load bootstrap %}

{% block title %}Connexion{% endblock %}
{% block content %}
  <form method="POST" action="" class="form-horizontal">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    {{ form|bootstrap }}
    <div class="control-group">
        <div class="controls">
            <input type="submit" class="btn" value="Se connecter" />
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <a href="{% url 'password_reset' %}">Mot de passe oublié ?</a>
        </div>
    </div>
</form>
{% endblock %}
