{% extends "base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}

{% if validlink %}

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<div class="form-group">
    <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
        <form action="" method="post" class="form-horizontal">{% csrf_token %}
            {{ form|bootstrap }}
            <input type="submit" value="{% trans 'Change my password' %}" class="btn" />
        </form>
    </div>
</div>

{% else %}

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}
