{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}

<p class="mb-4 text-gray-600">Mot de passe perdu ? Saisissez votre adresse électronique ci-dessous sous le
format "login_x@epita.fr" et nous vous enverrons les instructions pour en créer
un nouveau.</p>

<div class="max-w-xl bg-white p-6 rounded shadow">
    <form action="" method="post">{% csrf_token %}
        {{ form|crispy }}
        <div class="mt-4">
            <input type="submit" value="{% trans 'Reset my password' %}" class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded font-bold cursor-pointer"/>
        </div>
    </form>
</div>

{% endblock %}
